<h1>Add a new Recipe</h1>

<form method="post" action="/recipes">
    <div>
        <label>Recipe Name</label>
        <input type="text" name="recipeName" />
    </div>
    <div>
        <label>Recipe Writer</label>
        <input type="text" name="recipeWriter" />
    </div>
    <div>
        <label>Ingredients</label>
        <input type="text" name="ingredients" />
    </div>
    <div>
        <label>steps</label>
        <input type="text" name="steps" />
    </div>
    
    <div>
        <input type="submit" value="Add new Recipe" />
    </div>
</form>